body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 전체 레이아웃을 감싸는 컨테이너 */
.main-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
}

/* 개별 컨테이너 설정 */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    max-width: 400px;
    width: 45%; /* 각각의 컨테이너가 45% 너비를 가짐 */
    box-sizing: border-box;
}

h1 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
    font-weight: normal;
}

label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 8px;
    color: #666;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #fafafa;
}

button {
    background-color: #333;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #555;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #fafafa;
    display: none;
}

#busSelection1, #busSelection2 {
    margin-top: 15px;
    padding: 10px;
    background-color: #ebebeb;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: none;
    color: #333;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    color: #555;
}

/* 반응형 디자인 */
@media (max-width: 600px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 90%;
        margin-bottom: 20px;
    }
}
