body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 전체 레이아웃을 감싸는 컨테이너 */
.main-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
}

/* 개별 컨테이너 설정 */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    max-width: 400px;
    width: 45%; /* 각각의 컨테이너가 45% 너비를 가짐 */
    box-sizing: border-box;
}

/* 제목 스타일 */
h1 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
    font-weight: normal;
}

/* 레이블 스타일 */
label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 8px;
    color: #666;
}

/* 입력 필드 스타일 */
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #fafafa;
}

/* 버튼 스타일 */
button {
    background-color: #333;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #555;
}

/* 드롭다운 스타일 */
select {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #fafafa;
    display: none;
}

/* 정보 박스 스타일 */
.bus-info-box {
    margin-top: 15px;
    padding: 10px;
    background-color: #ebebeb;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: none;
    color: #333;
    max-height: 400px; /* 박스의 최대 높이 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
}

.bus-info-box h2 {
    margin-top: 0;
    color: #333;
}

.bus-info-box p {
    margin: 5px 0;
}

.bus-info-box hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 10px 0;
}

/* 반응형 디자인 */
@media (max-width: 600px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 90%;
        margin-bottom: 20px;
    }
}
